<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reparaciones de PC</title>
    </head>
    <body>
        {% extends 'base.html' %} {% block title %}Gestión de
        Reparaciones{%endblock %} {% block content %}
        <h1>Gestión de Reparaciones</h1>
        <p>
            Aquí puedes gestionar la información de tus reparaciones, incluyendo
            agregar nuevas reparaciones, editar detalles existentes y eliminar
            reparaciones que ya no sean necesarias.
        </p>
        {% endblock %}
    </body>
</html>
